# ---------------[ Unity generated ]------------------ #
/Temp
/obj
/UnityGenerated
/Library

# ----[ Visual Studio / MonoDevelop generated ]------- #

ExportedObj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
/*.user
*.unityproj
*.booproj

.vs

# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

**/__pycache__
*.pyc
*.pyo
native/build
native/xpy/xtest
*.obj
*.log
*.tlog
**/PCbuild/obj
**/PCbuild/amd64
**/Python-3.6.0/externals
*.VC.db
*~$*
**/sharp/obj
**/Plugins/x86_64
/.vscode
**/Plugins/x86_64.meta
**/__pycache__.meta
/Assets/PyScript/.idea
**/test.nunit.demo/obj
**/test.nunit.demo/bin
**/test.nunit.xpy/obj
**/test.nunit.xpy/bin

# --------------- 屏蔽游戏中不需要的python库 ---------------
/Assets/PyScript/Lib/distutils
/Assets/PyScript/Lib/lib2to3
/Assets/PyScript/Lib/multiprocessing
/Assets/PyScript/Lib/tkinter
/Assets/PyScript/Lib/turtledemo
/Assets/PyScript/Lib/venv
/Assets/PyScript/Lib/wsgiref
/Assets/PyScript/Lib/test
/Assets/PyScript/Lib/idlelib
/Assets/PyScript/Lib/ensurepip
